<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Serviço.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="~/IMG/Serviços/01.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <title>Serviços - Morangos da Cidade</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    $(document).ready(function () {
        @if (TempData["ToastrMessage"] != null)
        {
            <text>
                toastr["@TempData["ToastrType"]"]("@TempData["ToastrMessage"]");
            </text>
        }
    });
</script>
<body>
    <style>
        body {
            background-color: #ffffe0;
        }
    </style>
    <header>
        <a href="../Home/home.html" class="logo"><img src="~/IMG/Home/01.png" style="width: 150px; height:150px;" alt="logo"></a>

        <ul class="navbar">
            <a href="@Url.Action("Home")" class="btn btn-primary">Home</a>
            <a href="@Url.Action("Produtos")" class="btn btn-primary">Produtos</a>
            <a href="@Url.Action("Serviço")" class="btn btn-primary">Serviços</a>
            <a href="@Url.Action("Sobre")" class="btn btn-primary">Sobre nós</a>
        </ul>

        <div class="main">
            <a href=" @Url.Action("Login")" class="user"><i class="ri-user-fill"></i>Faça login ou Cadastre-se </a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    <!--Serviços-->
    <h1>Nossos serviços</h1>
    <section>
        <div class="row">
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        <img src="~/IMG/Serviços/Morango - icon.png" style="width: 20%;" alt="">
                    </div>
                    <h3>Revenda morangos em  atacado</h3>
                    <p>
                        Nosso foco é fornecer morangos frescos e de alta qualidade, cultivados localmente em nossa região. Trabalhamos em estreita colaboração com produtores locais para garantir um suprimento constante de morangos frescos durante toda a temporada. Nossos morangos são colhidos no ponto certo de maturação, garantindo o máximo de sabor e qualidade.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        <img src="~/IMG/Serviços/Morango - icon.png" style="width: 20%;" alt="">
                    </div>
                    <h3>Tour pela nossa fazenda</h3>
                    <p>
                        A fazenda Morangos da Cidade oferece uma experiência imersiva única, permitindo que visitantes explorem de perto o cultivo sustentável de morangos em meio ao caos cidade grande. Nosso tour guiado é uma oportunidade de aprender sobre as práticas agrícolas modernas e sustentáveis que utilizamos para garantir a qualidade e a frescura dos nossos produtos.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        <img src="~/IMG/Serviços/Morango - icon.png" style="width: 20%;" alt="">
                    </div>
                    <h3>Balcão de Degustação</h3>
                    <p>
                        O melhor dos morangos frescos, diretamente da nossa fazenda urbana para sua empresa. Em nossos balcões de degustação em feiras, festivais e eventos locais, convidamos você a experimentar a explosão de sabor e frescor dos nossos morangos cuidadosamente selecionados.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <!-- Foorter -->
    <main>

    </main>
    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <img src="~/IMG/Home/01.png" alt="Logo">
                <p class="txt">Redes sociais</p>

                <div id="footer_social_media">
                    <a href="#" class="footer-link" id="instragam">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>

                    <a href="#" class="footer-link" id="linkedin">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>

                </div>
            </div>
            <ul class="footer-list">
                <li>
                    <h3>Sobre nós</h3>
                </li>
                <li>
                    <a href="@Url.Action("Sobre")" class="btn btn-primary">Misão</a>
                </li>
                <li>
                    <a href="@Url.Action("Sobre")" class="btn btn-primary">Visão</a>
                </li>
                <li>
                    <a href="@Url.Action("Sobre")" class="btn btn-primary">Valores</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Produtos</h3>
                </li>
                <li>
                    <a href="@Url.Action("Produtos")" class="btn btn-primary">Morango Albion</a>
                </li>
                <li>
                    <a href="@Url.Action("Produtos")" class="btn btn-primary">Morango Bournon</a>
                </li>
                <li>
                    <a href="@Url.Action("Produtos")" class="btn btn-primary">Morango Capri</a>
                </li>
                <li>
                    <a href="@Url.Action("Produtos")" class="btn btn-primary">Morango Diamante</a>
                </li>
            </ul>
            <div id="footer_subscribe">
                <h3>Newsletter</h3>
                <p>
                    Digite seu e-mail para ser notificado sobre
                    nossas soluções
                </p>
                <div id="input_group">
                    <input type="email" id="email">
                    <button>
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="footer_copyright">
            &#169
            2024 Todos os direitos reservados
    </footer>
    <!--Link JS-->
    <script type="text/javascript" src="~/Scripts/Serviço.js"></script>
</body>
</html>